.site-footer {
  background-color: $black-backgr;
  padding-top: 60px;
  padding-bottom: 60px;
  max-width: 480px;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .footer-container {
    padding: 60px 89px 60px 76px;
  }
}

@media (min-width: 768px) {
  .footer-container__tablet {
    display: flex;
  }
}

.footer-container__contact {
  flex-direction: column;
}

.footer-logo {
  color: $white-text;
}

.footer-address {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-align: center;
}

@media (min-width: 768px) {
  .footer-address {
    text-align: left;
    width: 232px;
  }
}

.footer-address__info {
  color: $white-text;
  font-style: normal;
  margin-top: 20px;
}

.footer-contact,
.footer-contact__item {
  margin-top: 8px;
  text-align: center;
}

.footer-contact__link {
  text-decoration: none;
  color: $gray-text-op60;
  font-style: normal;
}
