.site-header__nav {
  display: flex;
}

.site-menu {
  display: none;
}

.site-contacts {
  display: none;
}

.site-header {
  border-bottom: 1px solid $bord;
}

.header-logo {
  color: $black-text;
  margin-bottom: 16px;
  margin-top: 16px;
}

.site-logo__span {
  color: $blue-text;
}

.site-header__container {
  position: relative;
}

.site-mobile {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
  color: $black-text;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $blue-text;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.site-mobile__icon {
  content: '';
  fill: currentColor;
}
