.team-section {
  max-width: 480px;
  padding: 60px 0 30px 0;
  background-color: $gray-backgr;

  @media (min-width: 768px) {
    max-width: 768px;
    padding: 60px 0;
  }

  @media (min-width: 1200px) {
    max-width: 1600px;
    padding: 94px 0;
  }
}

@media (min-width: 768px) {
  .team-section__container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .team-section__container {
    width: 1170px;
  }
}

.team-card__image {
  width: 450px;

  @media (min-width: 768px) {
    width: 354px;
  }

  @media (min-width: 768px) {
    width: 270px;
  }
}

.team-card {
  justify-content: center;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media (min-width: 1200px) {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .team-card > .team-card__item {
    flex-basis: calc (100% / 2 -30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.team-card__item {
  width: 450px;
  margin: 0 auto;
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.team-card__name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-card__prof {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $gray-text;
}
