.team-section,
.team-card {
  display: flex;
}

.team-section {
  padding: 94px 0;
  background-color: $gray-backgr;
}

.team-card {
  justify-content: space-between;
}

.team-card__item {
  background-color: $white-text;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.team-card__prof {
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $gray-text;
}
