.work-section,
.work-list {
  display: none;

  @media (min-width: 1200px) {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .work-section {
    padding: 0 0 94px 0;
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .work-section__container {
    width: 1200px;
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .work-list {
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .work-list__item {
    position: relative;
  }
}

@media (min-width: 1200px) {
  .work-list__description {
    position: absolute;
    width: 100%;
    padding: 27px 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background-color: rgba(47, 48, 58, 0.8);
    color: $white-text;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }
}
